@model SliceOfPie.Document

@{
    ViewBag.Title = "Show";
}

<fieldset>
    <legend><img src="@Url.Content("~/Icons/document-icon.png")" style="vertical-align: middle;" /> <span style="vertical-align: middle;">@Model.Title <sup style="font-weight: normal;">(@(((int)Model.CurrentHash).ToString("X").ToLower()))</sup></span></legend>

    <div class="display-field">
        @Html.Raw(Model.CurrentRevision)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id })
</p>
<section class="document-revisions">
    <h2>Revisions</h2>
    <table>
        <thead>
            <th>Timestamp</th>
            <th>Hash</th>
            <th>Content</th>
        </thead>
        <tbody>
            @foreach (SliceOfPie.Revision r in Model.Revisions) {
                <tr>
                    <td>@Html.AttributeEncode(r.Timestamp)</td>
                    <td style="vertical-align: top;">@(((int)r.ContentHash).ToString("X").ToLower())</td>
                    <td>@Html.Raw(r.Content)</td>
                </tr>
            }
        </tbody>
    </table>
</section>
<script type="text/javascript">
    $('.document-revisions').hide();
    $('<a href="#">Display revisions</a>').appendTo('#main').wrap('<p />').click(function () {
        $('.document-revisions').slideDown('slow');
        $(this).fadeOut('slow');
        return false;
    });
</script>