@model SliceOfPie.Project
@{
    ViewBag.Title = "Index";
}

<h2>Contents of @Model.Title</h2>
<p>
    @Html.ActionLink("Create New Folder", "Create")
</p>
<table>
    <tr>
        <th>
            ItemId
        </th>
        <th>
            Title
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.GetFolders()) {
    <tr>
        <td>
            @Html.DisplayText(item.Id.ToString())
        </td>
        <td>
           @Html.ActionLink(item.Title, "../Folder/Index", item)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
