@model IEnumerable<SliceOfPie.Project>
@{
    ViewBag.Title = "Home Page";
}



@if (Request.IsAuthenticated) {
    <h2>Here is a list of all current projects for <strong>@User.Identity.Name</strong></h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
    <tr>
        <th>
            Title
        </th>
        <th>
            ID
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(ModelItem => item.Id)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
} else {
    <h2>Are you new here?</h2>
}
